@model IEnumerable<WebAdmin.Models.Employees>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-body{
    height: 350px;
    overflow-y: auto;
}

</style>
<div class="block-header">
    <h3> <img src="~/images/SalesComments.png" class="user-image" alt="User Image" width="90"> Sales Comments </h3>    <small class="text-muted">Show Sales Comments.</small>
</div>

<table id="example1" class="table  table-condensed  table-hover wrap dt-responsive cell-border compact stripe row-border" style="width:100%">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FirstName) @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                Departament
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomePhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                Sales
            </td>

            <td>
                <p style="color:Highlight;">  @Html.DisplayFor(modelItem => item.JobTitle)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>


            <td>
                @if (item.Status == true)
                {
                    <span class="label label-success">
                        True
                    </span>
                }
                else
                {
                    <span class="label label-danger">
                        False
                    </span>
                }
            </td>

            <td>
                
                <a class="btn btn-warning" data-toggle="modal" data-target="#modalComments" onclick="getComments('@item.EmailAddress','SalesComments/mostarComments')">See</a>
               
            </td>
        </tr>
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modalComments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #01DF3A; color: white;">
                <h5 class="modal-title" id="exampleModalLabel">Sales Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </div>
            <div class="modal-body" id="modalcomment" style="overflow-y: scroll;">


                @*<button class="btn btn-warning" data-toggle="modal" data-target="#modalAgregarComments">Mas</button>

        <table id="mitabla" class="table  table-condensed  table-hover wrap dt-responsive cell-border compact stripe row-border" style="width:100%">
            <thead>
                <tr>

                    <th>
                        By/Datetime
                    </th>
                    <th>
                        Title/Comment

                    </th>

                </tr>
            </thead>
            <tbody>





            </tbody>
        </table>*@
                <div>
                    <span id="final"></span>
                </div>
            </div>
            <div class="modal-footer">
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div >
                        <input type="hidden" name="Idby" id="Idby" />
                        <input type="hidden" name="Idto" id="Idto" />
                        <input name="Title" id="Title" value="chat" type="hidden" />
                        <textarea name="Comment" id="Comment" class="form-control pull-left" style="height: 30%; width: 85% "></textarea>

                        <button type="button" class="btn btn-warning pull-right" data-dismiss="modal" onclick="agregarComment('SalesComments/CrearComments')">Send</button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregarComments" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #FE9A2E; color: white;">
                <h5 class="modal-title" id="exampleModalLabel">Comments / Revision</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    

                    <input type="hidden" name="EsAdmin" id="EsAdmin" value="@ViewBag.Admin" />

                    <div class="form-group">
                        <label for="User" class="control-label">By</label>
                        <input name="User" id="User" class="form-control" readonly="readonly" />
                    </div>


                    @if (ViewBag.Admin == "Admin")
                    {
                       

                    <div class="form-group">
                        <label for="UserSelect" class="control-label">To</label>
                        <input name="UserSelect" id="UserSelect" class="form-control" readonly="readonly" />

                    </div>
                    }

                    @if (ViewBag.Admin == "No")
                    {



                    <div class="form-group">
            <label for="Select" class="control-label">To</label>
            <select id="Select" name="Select" class="form-control" onclick="getAdministra('SalesComments/GetAdmin')">
                <option value="0">Selecione un Admin</option>
            </select>

                   </div>

                    }
                    <div class="form-group">
                        <label for="Title" class="control-label">Title</label>
                        

                    </div>

                    



                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="agregarComment('SalesComments/CrearComments')" >Save Comment</button>
            </div>
        </div>
    </div>
</div>