@model WebAdmin.Models.Cases

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cases</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Caller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Caller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ResolvedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResolvedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RelatedCases)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RelatedCases)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Attachments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Attachments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContractId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenedByOld)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenedByOld)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedToOld)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedToOld)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssueTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssueTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallerPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallerPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallerTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallerTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedToSendEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedToSendEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedToNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedToNavigation.UserID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.CompanyId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.LocationId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="CasesID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>
    </form>
</div>
